
</div>
<div class="footer-padding"></div>
  <div class="footer">

    <div class="icons">
      <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram-square"></i>
    </div>
    <div>
      <p>&copy; Personal-Blog Atti</p>
    </div>
    


  </div>
</div>
</body>
</html>
