* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  background-color: #eee;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  color: #333;
}
.navbar-nav li a:hover {
  color: #dd8838 !important;
}

#content-div {
  background-color: #fff;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: url(https://media.istockphoto.com/photos/empty-desk-picture-id639789778?b=1&k=20&m=639789778&s=170667a&w=0&h=9ZMV2n-Ugnwv05G4VK5C8uSNMSqOLEs_IPyh9zObgWY=);
  repeat: center;
  background-size: cover;
  background-color: transparent;

  min-height: 60vh;
}

@media only screen and (max-width: 567px) {
  .heading {
    flex-direction: column;
    width: 100%;
  }
}
.intro {
  width: calc(100% / 3);
}

/*.heading::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(231, 231, 241, 0.8),
      rgba(179, 179, 206, 0.7)
    ),
    url(https://st3.depositphotos.com/7893620/16034/i/600/depositphotos_160346114-stock-photo-spices-aromatic-herbs-and-fresh.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/
.content {
  margin: 50px auto;
}
.footer {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  min-height: 20vh;
  background-color: #fff;
  padding: 60px auto;
  border-top: #e2941f solid 4px;
  height: 10vh;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
}

.fab {
  margin-right: 15px;
}
